@model Jedznaplus.Models.LocalPasswordModel

<p>
    Nie posiadasz lokalnego hasła dla tej strony. Dodaj lokalne hasło,
    aby móc się logowaćza pomocą zewnętrznych usług.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                <label>Nowe hasło</label>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                <label>Potwierdź hasło</label>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Ustaw hasło" />
    </fieldset>
}
